.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  .search{
    width: 600px;
    position: relative;
    .into{
      display: flex;
      align-items: center;
      position: relative;
      input{
        width: 600px;
        height: 48px;
        padding-left: 15px;
        border-radius: 16px;
        position: relative;
        background: #E5E5E5;
        border: 0;
        outline: none;
        font-weight: 500;
      }
      img{
        position: absolute;
        right: 24px;
      }
    }
    .result{
      width: 97%;
      position: absolute;
      z-index: 10;
      background: #007E85;
      padding: 10px;
      .notification{
        width: 96%;
        background: #F0F9FD;
        display: flex;
        align-items: center;
        padding: 10px 12px;
        border-bottom: 1px solid #007E85;
        .left{
          div{
            width: 47.11px;
            height: 47.11px;
            border-radius: 50px;
            background: #007E85;
            display: flex;
            align-items: center;
            justify-content: center;
            p{
              margin: 0;
              color: white;
              font-weight: 700;
            }
          }
        }
        .right{
          margin-left: 12px;
          p{
            margin: 4px 0;
            font-size: 14px;
            font-weight: 500;
            color: #23262F;
            &:nth-child(2){
              color: rgba(13, 13, 13, 0.60);
            }
          }
        }
      }
      p{
        color: white;
      }
    }
  }
  .profile{
    width: 144.4px;
    height: 57.35px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 16.39px;
    border: 1.024px solid #D9D9D9;
    cursor: pointer;
    img{
      width: 36px;
      height: 36px;
      border-radius: 50px;
    }
  }
}